<!DOCTYPE html>
<html>
  <head>
    <title>Strictly Search</title>
	<meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="./style.css" rel="stylesheet"/>
  </head>
  <body>
  <header>
    <span><h1>Strictly Quick-Look </h1></span>
  </header>
  <div id="strictly">
    <div id="search">
       <input class="fuzzy-search" placeholder="Search" />
    </div>
    <div id="results">
    <table>
    <thead>
    	<th><a class="sort" data-sort="celebrity">Celebrity</a></th>
    	<th><a class="sort" data-sort="professional">Professional</a></th>
    	<th><a class="sort" data-sort="series">Series<a/></th>
    	<th><a class="sort" data-sort="week">Week</a></th>
    	<th><a class="sort" data-sort="dance">Dance</a></th>
    	<th><a class="sort" data-sort="song">Song</a></th>
    	<th><a class="sort" data-sort="score">Judges' Scores</a></th>
    	<th><a class="sort" data-sort="total">Total</a></th>
    </thead>
    <tbody class="list">
    {% for result in results %}
	<tr>
		<td class='celebrity'>{{ result.celebrity }}</td>
		<td class='professional'>{{ result.professional }}</td>
		<td class='series'>{{ result.series }}</td>
		<td class='week'>{{ result.week }}</td>
		<td class='dance'>{{ result.dance }}</td>
		<td class='song'>{{ result.song }}</td>
		<td class='score'>{{ result.nice_score }}</td>
                <td class='total'>{{ result.total }}</td>
	</tr>
    {% endfor %}
    </tbody>
  </table>
  
  <ul class="pagination"></ul>
  </results>
  </div>
  <footer>
    <span>Made with ❤ and hosted on GitHub.</span>
  </footer>
  <script type="text/javascript">
    (function() {
	new List('strictly', {
	  valueNames:  [ 'celebrity', 'professional', 'dance', 'song', 'total' ],
          page: 20,
          pagination: true,
	  fuzzySearch: {
	      searchClass: "fuzzy-search",
    	      location: 0,
    	      distance: 100,
	      threshold: 0.2,
    	      multiSearch: true
	  }
 	});
     })();
 </script>
  </body>
</html>
